# Docker Compose / PostgreSQL container config
POSTGRES_DB=sprintstart
POSTGRES_USER=sprintstart
POSTGRES_PASSWORD=change-me

# Docker Compose / Keycloak Postgres config
KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=change-me

# Docker Compose / Keycloak admin config
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

# Docker Compose / backend JWT validation config
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8081/realms/sprintstart
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/sprintstart/protocol/openid-connect/certs
