# Local Spring Boot backend run config
SPRINTSTART_AI_BASE_URL=http://host.docker.internal:8000

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/sprintstart
SPRING_DATASOURCE_USERNAME=sprintstart
SPRING_DATASOURCE_PASSWORD=change-me
GITHUB_PAT=PERSONAL_GITHUB_ACCESS_TOKEN
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

# These are example values.
# Generate your own, for example via openssl `openssl rand --hex [length]`
CRYPTO_MASTER_KEY=CHANGE_ME
CRYPTO_SALT=CHANGE_ME

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8081/auth/realms/sprintstart
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8081/auth/realms/sprintstart/protocol/openid-connect/certs

SPRINTSTART_KEYCLOAK_SHARED_SECRET=change-me
